[submodule "src"]
	path = src
	url = https://github.com/literat/nix-sources.git
[submodule "examples"]
	path = examples
	url = https://github.com/literat/nix-examples.git
[submodule "doc"]
	path = doc
	url = https://github.com/literat/nix-doc.git
